<aside class="dates_aside">
  <ul>
    <% @years.each do |year|%>
      <li>
        <%= year %>
        <ul>
          <% for month in @months %>
            <li><%= month %></li>            
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</aside>