<aside class="dates_aside">
  <ul>
    <li>
      <div class="year_sections">
        <h3 class="year">2015</h3>
        <ul class="hide_months">
          <li>Enero</li>
          <li>Febrero</li>
          <li>Marzo</li>
          <li>Abril</li>
          <li>Mayo</li>
          <li>Junio</li>
          <li>Julio</li>
          <li>Agosto</li>
          <li>Septiembre</li>
          <li>Octubre</li>
          <li>Noviembre</li>
          <li>Diciembre</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="year_sections">
        <h3 class="year">2016</h3>
        <ul class="hide_months">
          <li>Enero</li>
          <li>Febrero</li>
          <li>Marzo</li>
          <li>Abril</li>
          <li>Mayo</li>
          <li>Junio</li>
          <li>Julio</li>
          <li>Agosto</li>
          <li>Septiembre</li>
          <li>Octubre</li>
          <li>Noviembre</li>
          <li>Diciembre</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="year_sections">
        <h3 class="year">2017</h3>
        <ul class="hide_months">
          <li>Enero</li>
          <li>Febrero</li>
          <li>Marzo</li>
          <li>Abril</li>
          <li>Mayo</li>
          <li>Junio</li>
          <li>Julio</li>
          <li>Agosto</li>
          <li>Septiembre</li>
          <li>Octubre</li>
          <li>Noviembre</li>
          <li>Diciembre</li>
        </ul>
      </div>
    </li>
  </ul>
</aside>