<aside class="dates_aside">

    <% @dates_aside == {} ? year = "" && months = [] : @dates_aside.sort{ |x,y| y <=> x }.each do |year, months| %>
      <div class="year_element">
        <h3 class="year"><%= year %></h3>
        <ul class="hide_months months">

        <!-- to pass the month into a query in the url -->
        
        <% months == [] ? month = "" : months.sort.each do |month| %>
          <li><%= link_to month, controller: "articles", action: "index", query: "#{month} #{year}" %></li>
        <% end %>
        </ul>
      </div>
    <% end %> 

</aside>

