<aside class="dates_aside">

    <% @dates_aside == {} ? year = "" && months = [] : @dates_aside.sort_by{|year, month| year}.each do |year, months| %>
      <div class="year_element">
        <h3 class="year"><%= year %></h3>
        <ul class="hide_months months">
        <% months == [] ? month = "" : months.sort.each do |month| %>
          <li><%= month %></li>
        <% end %>
        </ul>
      </div>
    <% end %> 

</aside>