<aside class="dates_aside">
  <div class="year_element">
    <h3 class="year">2015</h3>
    <ul class="hide_months months">
      <li>Enero</li>
      <li>Febrero</li>
      <li>Marzo</li>
      <li>Abril</li>
      <li>Mayo</li>
      <li>Junio</li>
      <li>Julio</li>
      <li>Agosto</li>
      <li>Septiembre</li>
      <li>Octubre</li>
      <li>Noviembre</li>
      <li>Diciembre</li>
    </ul>
  </div>
</aside>