<h1 class="h1 underline">Listado de artículos</h1>
 
<table>
 
  <% @articles.each do |article| %>
      <td><%= link_to "#{article.title}", article_path(article) %></td>
    <tr></tr>
    <tr>
      <td><%= article.body %></td>
      </td>
    </tr>
  <% end %>
</table>