<h1 class="h1 underline">Listado de artículos</h1>
 
<% @articles.each do |article| %>
  <h2 class="h2"><%= link_to "#{article.title}", article_path(article), class:"h2" %></h2>
    
  <article class="article">
  	<%= article.body %>
  </article> 
<% end %>
