<%= link_to 'Nuevo artículo', new_article_path %>

<h1>Listado de artículos</h1>
 
<table>
  <tr>
    <th>Título</th>
    <th>Texto</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
    </tr>
  <% end %>
</table>