<p>
  <strong>Título:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Texto:</strong>
  <%= @article.body %>
</p>

<h2>Comentarios</h2>
<%= render @article.comments %>

<h2>Añade un comentario:</h2>
<%= render 'comments/form' %>

