<section class="titles_container">
  <div class="main_title_container">
    <h1 class="h1 main_title">Código weB</h1>
    <h2 class="h2 title"><%= link_to "by miguelitomola", about_me_path %></h2>
  </div>
  <div class="subtitle_container">
    <h2 class="h2 subtitle">About me</h2>
  </div>
</section>
 
<article class="article">
    
  <h2 class="h2">
    miguelitomola
  </h2>
  <p>
  	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in, expedita molestias pariatur nam quaerat a ad ducimus dolorem. Itaque ducimus, alias excepturi adipisci aut soluta suscipit fugit vitae voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat adipisci ab, tenetur harum obcaecati deserunt veritatis alias accusamus aspernatur deleniti modi doloremque. Quis harum nesciunt, iste magni incidunt quae explicabo.
  </p>
  
</article> 
