<%= link_to 'Entrar al blog', controller: 'articles' %>
<%= link_to 'Contacto', contact_path %>

<h1> Welcome to my blog </h1>

<b>Here you will find how I do to learn code</b>

<p>by @miguelitomola</p>