// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$turquoise: rgb(17, 89, 95);

.h1{
	font-size: 3rem;
	color: $turquoise;
}

.underline{
	border-bottom: 1px solid $turquoise;
}