	// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Cursors:
$default_cursor: url('default.cur'), auto;
$link_cursor: url('link.cur'), auto;

//Color variables:
$turquoise: #0B9087;
$beige-transparent: rgba(142, 177, 139, 0.56);
$blue-transparent: rgba(0, 20, 89, 0.79);
$blue-celeste: #8FB9D4;
$blue-dark: #191735;
$blue-hover: #00B3A6;
$green-comments: #0E890F;
$red-edit: #930000;
$red-dates: rgb(107, 13, 13);
$red-footer: #800000;
$beige-footer: #D6D6D6;

//Font variables:
$arial-narrow: "Arial Narrow", Arial, sans-serif;
$dekko: 'Dekko', cursive;
$trebuchet: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
$nova_square: 'Nova Square', cursive;

//Border radius mixin:
@mixin border-radius ($radius:0 0 10px 10px){
	-webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

body{
	background-image: url(code_background.png);
	background-attachment: fixed;
	// cursor: $default_cursor;
  font-family: $nova_square;
}

.auto-height{
	clear: both;
}

.main_section{
	width: 1024px;
	background-color: white;
	min-height: 768px;
	position: relative;
	margin: 0 auto;
}

.h1{
	font-size: 70px;
}

.h2{
	font-size: 32px;
}

.h3{
  font-size: 26px;
}

.inline{
	display: inline;
}

.underline{
	border-bottom: 0.15rem solid $blue-transparent;
}

.titles_container{
	@include border-radius(10px);
	width: 974px;
	min-height: 90px;
	background-color: #FFF;
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;
	margin-bottom: 25px;
}

.logo{
	width: 90px;
	height: 90px;
	position: relative;
	float: left;
}

.main_title_container{
	width: 884px;
	height: 90px;
	box-sizing: border-box;
	padding: 0;
	position: relative;
	display: inline-block;
	background-image: url(keyboard.jpg);
	border: 2px solid $blue-dark;
	border-width: 2px 0 2px 0;
	font-weight: bold;
	text-shadow: 3px 3px #969696;
}

.main_title{
  width: 526px;
  position: relative;
  float: left;
  margin-top: 10px;
	color: $blue-dark;
	font-variant: small-caps;
	text-align: center;
	a{
		text-decoration: none;
		color: $blue-dark;
	}
	a:hover{
	  color: #8F1515;
	}
}

.title{
	position: relative;
	margin: 10px 15px 0	 0;
	float: right;
  	a{
		  text-decoration: none;
		  color: $blue-dark;
		}
		a:hover{
			color: #8F1515;
		}
}

.tools{
	position: relative;
	display: inline-block;
	width: 790px;
	margin-top: 20px;
	font-family: $arial-narrow;
	font-size: 16px;
	a{
		text-decoration: none;
		color: $red-edit;
  }	
	span{
	  margin-right: 15px;	
	}
}

.subtitle_container{	
	width: 790px;
	height: 50px;
	position: relative;
	float: left;
	text-align: left;
	border: 1px solid $blue-dark;
	border-width: 2px 0 0 0;
}

.subtitle{
	display: inline-block;
	height: 40px;	
	padding: 10px 10px 0 10px;
	background-color: $blue-dark;
	color: #FFF;
	border: 1px solid $blue-dark;
	border-width: 0 2px 2px 0;
	@include border-radius(0 0 10px 10px);	
}

.info_container{
	width: 974px;
	min-height: 563px;
	position: relative;
	margin: 0 auto;
}

.articles_container{
  position: relative;
  display: inline-block;
  width: 790px;
  min-height: 463px;
}

.articles_container_1, .articles_container_2{
	position: relative;
	width: 375px;	
	min-height: 463px;	
	display: inline-block;
	margin-right: 30px;
  vertical-align: top;	
}

.articles_container_2{
  margin: 0;
}

.articles_reader{
	width: 100%;
}

.article{
	font-size: 16px;		
	margin-top: 30px;
	text-align: justify;
	line-height: 150%;
}

.art_body{	
	font-family: $arial-narrow;	
	word-spacing: 1px;
	margin-bottom: 10px;
}

.read_more{
	vertical-align: bottom;
  color: $red-dates;
  text-decoration: none;
}	

.read_more:hover{
	color: $turquoise;
} 

.art_title{
	font-size: 38px;
	margin-bottom: 10px;
	a{
		color: $turquoise;
		text-decoration: none;
		line-height: 120%;
	}
	a:hover{
		color: #000077;
		text-shadow:0px 2px 2px $turquoise, 0px 2px 2px $turquoise,	0px 2px 2px $turquoise, 0px 2px 2px $turquoise;
	}
}

.date{
	position: relative;
	display: inline-block;
	font-size: 15px;
	color: $red-dates;
	margin-bottom: 12px;
}


footer{
  width: 974px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  background-color: $beige-footer;
  box-sizing: border-box;
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
  color: $blue-dark;
  border-top: 2px solid $blue-dark;
  p{
  	color: inherit;
  	width: 40%;
  	display: inline-block;
  }
  div{
  	display: inline-block;
  	width: 25%;
  	height: 20px;
  	vertical-align: middle;
  }	
  a{
  	text-decoration: none;
  	color: $red-footer;
  }
  a:hover{
  	text-decoration: underline;
  }
}
