// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Cursors:
$default_cursor: url('default.cur'), auto;
$link_cursor: url('link.cur'), auto;

//Color variables:
$turquoise: rgb(17, 89, 95);
$beige-transparent: rgba(142, 177, 139, 0.56);
$blue-transparent: rgba(0, 20, 89, 0.79);
$blue-celeste: #8FB9D4;
$blue-dark: #2F2F5A;

//Font variables:
$header-font: 'Dekko', cursive;
$article-font: 'Original Surfer', cursive;

//Border radius mixin:
@mixin border-radius ($radius:0 0 1rem 1rem){
	-webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

body{
	background-color: $blue-transparent;
	cursor: $default_cursor;
}

a{
	cursor: $link_cursor;
}

.main_section{
	width: 80%;
	margin: 0 auto;
	background-color: white;
	min-height: 40rem;
	padding: 0 1rem 1rem 1rem;
	position: relative;
}

.h1{
	font-size: 3.5rem;
	font-family: $header-font;
}

.h2{
	font-size: 2rem;
	font-family: $header-font;
}

.h3{
  font-size: 1.5rem;
	font-family: $header-font;
}

.inline{
	display: inline;
}

.underline{
	border-bottom: 0.15rem solid $blue-transparent;
}

.titles_container{
	@include border-radius(1rem);
	width: 83%;
	background-color: $blue-transparent;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 3.5rem;
	margin-bottom: 4rem;
	border: 0.1rem solid rgb(54, 69, 124);
}

.main_title_container{
	@include border-radius(1rem 2rem 0 1rem);
	background-color: $blue-celeste;
	text-align: center;
	padding: 1rem;
	display: inline-block;
	width: 60%;
	box-sizing: border-box;
}

.main_title{
  display: inline-block;
	color: $blue-dark;
}

.title{
	display: inline-block;
  	a:visited, a:link{
		  text-decoration: none;
		  color: $blue-dark;
		}
}

.tools{
	font-family: $header-font;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	margin-top: 0.8rem;
	width: 130px;
	a:visited, a:link{
		text-decoration: none;
		color: $blue-dark;
  }	
}

.subtitle_container{
	text-align: center;
	display: inline-block;
	width: 35%;
}

.subtitle{
	color: white;
}

.articles_cocontainer{
  position: absolute;
  right: 2rem;
}

.articles_container_1{
	width: 39%;	
	display: inline-block;
	margin-right: 0.5rem;
	border-right: 1px solid black;
}

.articles_container_2{
	width: 39%;	
	display: inline-block;
}

.art_title{
	margin-right: 0.4rem;
	display: inline-block;
}

.article{
	@include border-radius(0 1rem);
	font-size: 1.2rem;
	font-family: $header-font;
	display: block;
	margin: 1rem 0 1rem 0;
	box-sizing: border-box;
	padding: 1rem; 
}

.date{
	display: inline-block;
	color: rgb(107, 13, 13);
}
