//Cursors:
$default_cursor: url('default.cur'), auto;
$link_cursor: url('link.cur'), auto;

//Font variables:
$header-font: 'Dekko', cursive;


.dates_aside{
	font-family: $header-font;
	font-size: 1.3rem;
	background-color: lightblue;
	display: inline-block; 
  float: left;
  box-sizing: border-box;
  width: 17%;
  min-height: 25rem;
  padding: 0.4rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.hide_months{
  display: none;
}

.months{
  li{
    text-indent: 10px;
    line-height: 120%;
  }
}

.year_element{
}

.year{
  cursor: $link_cursor;
  display: inline-block;
}
