//Cursors:
$default_cursor: url('default.cur'), auto;
$link_cursor: url('link.cur'), auto;

//Font variables:
$header-font: 'Dekko', cursive;

//Colors:
$blue-dark: #191735;

//Border radius mixin:
@mixin border-radius ($radius:10px 10px 10px 10px){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}


.dates_aside{
  min-height: 538px;
  box-sizing: border-box;
  position: relative;
  float: left;
  font-size: 18px;
  background-color: $blue-dark;
  color: #FFF; 
  width: 150px;
  padding: 15px;
  margin-right: 25px;
  line-height: 150%;
  @include border-radius;
  a{
    color: #FFF;
    text-decoration: none;
  }
  a:hover, h3:hover{
    text-decoration: underline;
  }
}

.hide_months{
  display: none;
}

.months{
  li{
    text-indent: 10px;
    line-height: 120%;
  }
}

.year_element{
}

.year{
  cursor: pointer;
  display: inline-block;
}
