// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Font variables:
$header-font: 'Dekko', cursive;
$article-font: 'Original Surfer', cursive;

//Color variables:
$write-comments-background: rgba(142, 170, 239, 0.76);
$blue-dark: #191735;
$beige-footer: #D6D6D6;
$blue-dark: #191735;
$green-comments: #0E890F;
$red-footer: #800000;

//Fonts:
$nova_square: 'Nova Square', cursive;
$trebuchet: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;

//Border radius mixin:
@mixin border-radius ($radius:0 0 10px 10px){
	-webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}		

.number_comments{
	position: relative;
	display: inline-block;
	float: right;
	font-size: 15px;
  a{
  	text-decoration: none;
  	color: $green-comments;
  	font-family: $nova_square;
  }
  a:hover{
  	text-decoration: underline;
  	font-family: $nova_square;
  }
}

.number_comments_show{
	@extend .number_comments;
	display: block;
	float: none;
	margin-top: 30px;
}

.add_comment{
  position: relative;
  display: inline-block;
	width: 790px;
	margin-top: 30px;
	margin-bottom: 50px;
	padding-bottom: 25px;
	border: 1px solid $blue-dark;
	@include border-radius(10px);
	.r1{
		height: 30px;
	}
	.r2{
		height: 135px;
	}
	.c1, .c2{
		position: relative;
		display: inline-block;
		vertical-align: top;	
	}
	.c1{
		width: 100px;
		text-align: right;
	}
	.r1 .c2, .r2 .c2{
		width: 400px;
		input, textarea{
			font-family: $trebuchet;
			font-size: 15px;
		}
		input{
      width: 100%;
		}
		textarea{
      width: 100%;
      height: 120px;
		}
	}
	.r3 .c2 input{
	  width: 100px;
	  height: 30px;
	}
}

.write_comment_field{
	width: 50%;
	height: 60px;
}

.add_comment_title_container{
	position: relative;
	height: 40px;	
	margin-bottom: 40px;
}

.add_comment_title{	
	position: relative;
	display: inline-block;
	height: 40px;
	padding: 10px 10px 0 10px;
	border: 1px solid $blue-dark;
	border-width: 0 1px 1px 1px;
	@include border-radius(0 0 10px 10px);	
	background-color: $beige-footer;
	color: $blue-dark;
}

.comments{
	position: relative;
	display: inline-block;
	width: 790px;  
	box-sizing: border-box;
	padding: 0 0 10px 0;
	line-height: 150%;
	.r0{
		position: relative;
	  margin-bottom: 30px;	
	  h3{
	  	position: relative;
	    color: $blue-dark;
	    font-size: 32px;
	  }
	}
	.r1{
		background-color: $beige-footer;
		margin-top: 20px;
		padding: 10px 10px;
		border: 1px solid $blue-dark;
	  font-family: $trebuchet;
		color: $blue-dark;
		@include border-radius(10px);	
		.c1{
			position: relative;
			float: left;
			width: 100px;
			height: 15px;
			text-align: right;
			margin-right: 5px;
			color: $red-footer;
			font-family: $nova_square;
		}
		.c2{
      position: relative;
			display: inline-block;
			width: 655px;
			height: 15px;
			text-align: justify;
	    font-size: 14px;
		}
		.r14{
			text-align: right;
			a{
				text-decoration: none;
				color: green;
			}
			a:hover{
				background-color: yellow;
			}
		}
	}	
}
