//Font variables:
$user_nav-font: 'Dekko', cursive;

//Color variables:
$blue-transparent: rgba(0, 20, 89, 0.79);
$border-bookmark: rgba(189, 195, 239, 0.44);

//Div sizes variables:
$contact_b_height: 1.25rem;

//Border radius mixin:
@mixin boder-radius ($radius:0 0 1rem 1rem){
	-webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

//Border color mixin:
@mixin border-bottom ($properties:0.125rem solid $border-bookmark){
	border-bottom: $properties
}

.nav_section{
	margin: 0 auto;
	width: 99%;
	height: 2rem;
}

.user_nav{
	@include boder-radius;
	float: right;
	font-size: 1.3rem;
	font-family: $user_nav-font;
	background-color: $blue-transparent;
	padding: 0.5rem;
	a{
  	text-decoration: none;
		color: white;
	}
	span{
		color: $border-bookmark;
	}
}

.general_nav{
	@include boder-radius;
  @extend .user_nav;
  float: left;
}

.contact_button{
	position: relative;
	height: $contact_b_height;
	color: white;
	display: inline-block;
	height: $contact_b_height;
}

.sub_nav{
	@extend .general_nav;
	float: none;
	@include boder-radius(0 1rem 1rem 1rem);
	position: absolute;
	left: 0rem;
	top: $contact_b_height;
}

.sub_nav_2{
  padding: 0.2rem;
}

.bookmark{
	@include border-bottom;
}

.display_none{
	display: none;
}

