//Cursors:
$default_cursor: url('default.cur'), auto;

//Font variables:
$user_nav-font: 'Dekko', cursive;

//Color variables:
$blue-transparent: rgba(0, 20, 89, 0.79);
$border-bookmark: rgba(189, 195, 239, 0.44);
$darkblue: #403F56;

//Div sizes variables:
$contact_b_height: 1.25rem;

//Border radius mixin:
@mixin border-radius ($radius:0 0 1rem 1rem){
	-webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

//Border color mixin:
@mixin border-bottom ($properties:0.125rem solid $border-bookmark){
	border-bottom: $properties
}

.nav_section{
	position: relative;
	margin: 0 auto;
	width: 974px;
	min-height: 30px;
	margin-bottom: 25px;
}

.user_nav{
	@include border-radius(0 0 10px 10px);
	width: auto;	
	min-height: 30px;
	box-sizing: border-box;
	padding: 8px 5px 8px 5px;
	position: relative;
	float: right;
	font-size: 17px;
	background-color: $darkblue;
	a{
  	text-decoration: none;
		color: white;
	}
	a:hover, li:hover{
		color: #20FF1B;
	}
	span{
		color: $border-bookmark;
	}
}

.notice {
	width: auto;
  height: 30px;
  box-sizing: border-box;
  padding: 8px 5px 8px 5px;
  float: right;
  position: relative;
  margin-right: 15px;	
  font-size: 20px;
  font-weight: bold;
  color: #C20505;
}

.general_nav{
  @extend .user_nav;
  float: left;
}

.contact_button{
	position: relative;
	height: $contact_b_height;
	color: white;
	display: inline-block;
	height: $contact_b_height;
}

.contact_button_li{
	cursor: $default_cursor;
}


.sub_nav{
	@extend .general_nav;
	float: none;
	@include border-radius(0 1rem 1rem 1rem);
	position: absolute;
	left: 0rem;
	top: $contact_b_height;
	background-color: rgb(54, 69, 124);
}

.sub_nav_2{
  padding: 0.2rem;
}

.bookmark{
	@include border-bottom;
}

.display_none{
	display: none;
}

